body {
    text-align: center;
}

#view {
    display: inline-block;
    width: 126px;
    height: 126px;
    border: solid 1px #ccc;
    background-image: url(images/jsakamoto.png);
    background-repeat: no-repeat;
    background-position-y: 126px;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

    #view.pop {
        background-position-y: 0px;
    }
